<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeaderImage">
  <div class="container">
    <div class="tableBlock">
      <div class="row tableInner">
        <div class="col-xs-12">
          <div class="page-title">
            <h2><%= yield(:header_title) %></h2>
            <ol class="breadcrumb">
              <li>
                <%= link_to "Home", potepan_root_path %>
              </li>
              <%= tag.li yield(:header_title) %>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
